name: build-mpv-easy

on: [push]

jobs:
  build:
    name: build-js
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4

      - name: "build mpv-easy"
        run: |
          npm i pnpm -g
          pnpm i
          pnpm run build

          mkdir ./dist -p
          cp ./mpv-easy-react/es5/mpv-easy-es5.js ./dist/mpv-easy-es5.js
          cp ./mpv-easy-react/bundle/mpv-easy-es6.js ./dist/mpv-easy-es6.js
          cp ./mpv-play-with/dist/mpv-easy-play-with.user.js ./dist/mpv-easy-play-with.user.js

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: mpv-easy
          path: ./dist/*.js
  build-artifacts:
    uses: ./.github/workflows/build-artifacts.yml
