name: Releases

on:
  push:
    # branches:
    #   - main
    # tags:
    #   - "v*"
  pull_request:
  schedule:
    - cron: "0 0 * * *"

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  update_mpv_build:
    runs-on: ubuntu-24.04
    if: github.ref == 'refs/heads/main'
    steps:
      - name: update-mpv-build
        run: |
          curl -X POST \
            -H "Authorization: Bearer ${{ secrets.MPV_BUILD }}" \
            -H "Accept: application/vnd.github+json" \
            -d '{"ref":"main","inputs":{"branch":"main"}}' \
            https://api.github.com/repos/mpv-easy/mpv-build/actions/workflows/update.yml/dispatches

  build-artifacts:
    uses: ./.github/workflows/build-artifacts.yml

  release:
    needs: [build-artifacts]
    name: release
    runs-on: ubuntu-24.04
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4

      - uses: actions/download-artifact@v4
        with:
          path: release
          pattern: release
          merge-multiple: true
      - name: unzip
        run: |
          sudo apt install unzip -y
          cd release
          unzip release.zip -d dist
      - uses: ncipollo/release-action@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          artifacts: "release/dist/*"
          allowUpdates: true
          token: ${{ secrets.GITHUB_TOKEN }}

      - uses: ncipollo/release-action@v1
        with:
          artifacts: "release/dist/*"
          allowUpdates: true
          tag: "nightly"
          name: "nightly"
          token: ${{ secrets.GITHUB_TOKEN }}
          commit: main

  update-cdn:
    runs-on: ubuntu-24.04
    needs: [release]
    if: startsWith(github.ref, 'refs/tags/')
    steps:
      - name: update-cdn
        run: |
          curl -X POST \
            -H "Authorization: Bearer ${{ secrets.MPV_BUILD }}" \
            -H "Accept: application/vnd.github+json" \
            -d '{"ref":"main"}' \
            https://api.github.com/repos/ahaoboy/mpv-easy-cdn-updater/actions/workflows/update.yml/dispatches
