name: Releases

on:
  push:
    tags:
      - "v*"
  schedule:
    - cron: "0 0 * * *"

jobs:
  build-artifacts:
    uses: ./.github/workflows/build-artifacts.yml

  release:
    if: startsWith(github.ref, 'refs/tags/')
    needs: [build-artifacts]
    name: release
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4

      - uses: actions/download-artifact@v4
        with:
          path: release
          pattern: release
          merge-multiple: true
      - name: unzip
        run: |
          sudo apt install unzip -y
          cd release
          unzip release.zip -d dist
      - uses: ncipollo/release-action@v1
        with:
          artifacts: "release/dist/*"
